USE [master]
GO
/****** Object:  Database [Business]    Script Date: 23/10/2017 2:42:47 CH ******/
CREATE DATABASE [Business]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PS05194_Business', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PS05194_Business.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PS05194_Business_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PS05194_Business_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Business].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Business]
GO
/****** Object:  Table [dbo].[Depart]    Script Date: 23/10/2017 2:42:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depart](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Depart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Record]    Script Date: 23/10/2017 2:42:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Staffid] [int] NOT NULL,
	[Type] [bit] NULL,
	[Reason] [nvarchar](200) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Record] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 23/10/2017 2:42:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [bit] NULL,
	[Birthday] [date] NULL,
	[Photo] [nvarchar](300) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Salary] [int] NULL,
	[Notes] [ntext] NULL,
	[Departid] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Count] [int] NULL,
	[Role] [bit] NULL,
	[Avatar] [nvarchar](200) NULL,
	[isRemove] [bit] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Depart] ([ID], [Name]) VALUES (N'KD', N'
Business Department')
INSERT [dbo].[Depart] ([ID], [Name]) VALUES (N'KT', N'Accountant Department')
INSERT [dbo].[Depart] ([ID], [Name]) VALUES (N'NS', N'
HR Department')
SET IDENTITY_INSERT [dbo].[Record] ON 

INSERT [dbo].[Record] ([ID], [Staffid], [Type], [Reason], [Date]) VALUES (1, 1, 1, N'Good', CAST(0x623D0B00 AS Date))
INSERT [dbo].[Record] ([ID], [Staffid], [Type], [Reason], [Date]) VALUES (2, 1, 1, N'Good', CAST(0x623D0B00 AS Date))
INSERT [dbo].[Record] ([ID], [Staffid], [Type], [Reason], [Date]) VALUES (3, 2, 1, N'Good', CAST(0x613D0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Record] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([ID], [Name], [Gender], [Birthday], [Photo], [Email], [Phone], [Salary], [Notes], [Departid], [Username], [Password], [Count], [Role], [Avatar], [isRemove]) VALUES (1, N'Phạm Huỳnh Vũ Kiên', 1, CAST(0xF51A0B00 AS Date), N'/sources/Avatar/av1.jpg', N'kienphvps05194@fpt.edu.vn', N'01688668503', 8000000, NULL, N'KD', N'admin', N'123', 0, 1, N'/sources/Avatar/av1.jpg', 0)
INSERT [dbo].[Staff] ([ID], [Name], [Gender], [Birthday], [Photo], [Email], [Phone], [Salary], [Notes], [Departid], [Username], [Password], [Count], [Role], [Avatar], [isRemove]) VALUES (2, N'Đỗ Quang Khôi ', 1, CAST(0x781B0B00 AS Date), N'/sources/Avatar/av2.jpg', N'khoidqps05131@fpt.edu.vn', N'0932497932', 10000000, NULL, N'PT', N'khoidq', N'123', 0, 1, N'/sources/Avatar/av2.jpg', 0)
INSERT [dbo].[Staff] ([ID], [Name], [Gender], [Birthday], [Photo], [Email], [Phone], [Salary], [Notes], [Departid], [Username], [Password], [Count], [Role], [Avatar], [isRemove]) VALUES (3, N'Phạm Quốc Khánh', 1, CAST(0x991B0B00 AS Date), N'/sources/Avatar/av3.jpg', N'khanhpqps05162@fpt.edu.vn', N'0906658162', 10000000, NULL, N'KT', N'khanhpq', N'123', 0, 0, N'/sources/Avatar/av3.jpg', 0)
SET IDENTITY_INSERT [dbo].[Staff] OFF
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_Record_Staff] FOREIGN KEY([Staffid])
REFERENCES [dbo].[Staff] ([ID])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_Record_Staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Depart] FOREIGN KEY([Departid])
REFERENCES [dbo].[Depart] ([ID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Depart]
GO
USE [master]
GO
